# Trường hợp kiểm tra xem đã bật apache lên chưa
<IfModule mod_rewrite.c>
    # chịu trách nhiệm xử lý các phương thức về mặt nội dung của apache, gồm các tệp html , js , css....
    <IfModule mod_negotiation.c>
        ## -MultiViews: Tắt tính năng MultiViews apache
         # Bởi vì tính năng này cho phép Apache tự động cung cấp các tệp tin dựa trên kiểu nội dung mà trình duyệt yêu cầu đưa ra
        ## -Indexes": Tắt tính năng "Indexes" của Apache
         # Tắt tính năng "Indexes" của Apache, ngăn không cho người dùng thấy danh sách các tệp trong thư mục khi không có tệp index
        Options -MultiViews -Indexes
    </IfModule>

    ## cho phép sử dụng các quy tắc viết lại URL (URL Rewriting). Nếu không có lệnh này, các quy tắc viết lại sẽ không hoạt động.
    RewriteEngine On

    ## Kiểm tra xem tiêu đề Authorization có tồn tại trong yêu cầu HTTP hay không
    RewriteCond %{HTTP:Authorization} .
    RewriteRule .* - [E=HTTP_AUTHORIZATION:%{HTTP:Authorization}]

    ## Kiểm tra xem có thư mục tồn tại trên hệ thống hay không
    RewriteCond %{REQUEST_FILENAME} !-d
    ## Kiểm tra nếu URL có dấu gạch chéo / ở cuối.
    RewriteCond %{REQUEST_URI} (.+)/$
    ## Chuyển hướng từ URL có dấu "/" cuối cùng về URL không có dấu "/" cuối cùng
    RewriteRule ^ %1 [L,R=301]


    RewriteCond %{REQUEST_FILENAME} !-d
    # Kiểm tra xem yêu cầu không phải là một tệp thực sự (như .html, .php, .css...).
    RewriteCond %{REQUEST_FILENAME} !-f
    # Nếu không phải thư mục và không phải tệp tin, Apache sẽ chuyển hướng tất cả các yêu cầu đến index.php
    RewriteRule ^ index.php [L]
</IfModule>
